doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Частые вопросы
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    script(src='https://use.fontawesome.com/15d014c5ab.js')
    link(rel='stylesheet' href='dist/main.css')
  body
    header.header.content_wrapper
      .header__wrapper.content-container
        .header__logo
          p.header__logo-name SkillDrive
          .header__logo-line.first
          .header__logo-line.second
        nav.header__nav
          a.header__nav-item(href='index.html') О нас
          a.header__nav-item(href='#') Условия
          a.header__nav-item.active-nav-item(href='#') Частые вопросы
        .header__btn
          button.header__btn-signin Войти
        .header__menu-icon
          .header__menu-icon-item
          .header__menu-icon-item
          .header__menu-icon-item
    main
      section.section-main.content_wrapper
        img(src='assets/images/question.png' alt='question')
        h1.section-main__title Частые вопросы
        p.section-main__desc Отвечаем на вопросы, которые у вас могут возникнуть.
      section.section-faq.content_wrapper
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Могу ли я отменить бронь?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | Каждый раз, когда гость совершает бронирование, оно подтверждается мгновенно — вы не можете его отклонить.
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Могу ли я вернуть деньги, если не подошёл автомобиль?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | При определенных обстоятельствах и условиях Вы можете вернуть автомобиль в салон и требовать возмещения в денежном виде всех издержек связанных с приобретением и эксплуатацией автомобиля или обменять некачественную машину на новую согласно закону "О защите прав потребителей".
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Что делать, если случилось ДТП?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | Oстановить транспортное средство, включить аварийку, выставить знак аварийной остановки, чтобы предупредить других водителей об опасности. Знак устанавливается на расстоянии не менее 15 метров от ДТП в населенных пунктах и не менее 30 метров за их пределами. Неисполнение этих требований влечет административное наказание — предупреждение или штраф в размере 1000 рублей.
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Могу ли я оставить автомобиль в удобном для меня месте?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | Данный вопрос обсуждается с собственником, но как правило автомобиль нужно вернуть туда, где вы его получили.
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Что делать, если собственник просит заплатить ему напрямую?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | Если объявление о продаже квартиры размещено собственником в открытых источниках, риелтору платят только за проведение сделки по взаимному соглашению.
        .section-faq__wrapper
          button.section-faq__wrapper-btn
            | Должен ли я заправлять автомобиль?
            i.fa.fa-angle-down
          .section-faq__wrapper-content
            p.section-faq__wrapper-text
              | Расходы на топливо всегда формально несёт компания, у которой вы берёт автомобиль в аренду. Эти траты заложены в стоимость поминутной аренды.
    footer.footer.content_wrapper
      .footer__wrapper
        p.footer__copyright © SkillDrive Inc. 2020
        .footer__social-icons
          .icon
            img(src='assets/icons/vk.svg' alt='VK')
          .icon
            img(src='assets/icons/instagram.svg' alt='instagram')
          .icon
            img(src='assets/icons/facebook.svg' alt='facebook')
    script(src='dist/main.js')
    noscript Ваш браузер не поддерживает JavaScript!
